.sign-in,
.sign-up {
  font-size: 16px;
  font-weight: bold;
  width: 160px !important;
  height: 45px;
}

.sign-up {
  color: #ffff;
  background-color: #d60000;
}

.sign-in {
  color: #000;
  background-color: #cdcdcd;
  margin-left: 1.5em;
}
.sign-in:hover {
  background-color: #a7a3a3;
  color: white;
}

.sign-up:hover {
  background-color: #aa0d0d;
  color: black;
}
